.cart-container {
  max-width: 1240px;
  margin: 30px auto;
  padding: 0 15px;
  width: 100%;
  min-width: 340px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 15px;
}
.cart-title {
    width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}