.create-product {
  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 50px;
  }

  &__input {
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ddd;

    &::placeholder {
      opacity: 0.6;
      font-weight: 400;
    }
  }

  &__btn {
    padding: 14px;
    background-color: #359740;
    border: none;
    color: #fff;
    border-radius: 5px;
    max-width: 200px;
    transition: 0.3s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
